html,body {
  font-family: 'Roboto', sans-serif;
  rgba(0, 0, 0, 0.87);
}

.splash {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  text-align: center;
}
.title {
  font-size: 60px;
}
.motto {
  font-size: 34px;
  line-height: .4;
  font-weight: 100;
  color: #555555;
}
